.tictactoe-container {
    border-radius: 10vh;
    box-shadow: 0px 3px 10px #00000029;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    background-color: rgb(102,179,233);
    font-family: 'Bauhaus 93';
    -webkit-text-stroke: 2px white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.tictactoe-cell {
    cursor: pointer;
}

.tictactoe-cell:hover {
    background-color: rgba(202,179,233,0.5);
}

.tictactoe-border-bottom {
    border-bottom: 7px solid white;
}

.tictactoe-border-left {
    border-left: 7px solid white;
}

.tictactoe-result {
    position: absolute;
    font-family: 'Bauhaus 93';
    -webkit-text-stroke: 2px white;
    color: #6CD94E;
    font-size: 15vh;
    z-index: 5;
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden; /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.tictactoe-result.visible {
    height: auto;
    opacity: 1;
    transition: height 0ms 0ms, opacity 1000ms 0ms;
}
