@page "/"
@using Enums
@using SZIGRA
@using SZIGRA.Algorithm
@using SZIGRA.Enums
@using SZIGRA.Player
@using SZIGRAView.Board

<div>
    <div class="tictactoe-game">
        <Header />
        <Board @ref="board"
               Width=3
               Height=3
               GameState="GameStateToDraw"
               OnFieldClicked='OnFieldClicked'
               IsFinalMove="()=> gameResult != GameResultEnum.GameOngoing"
               GetWinnerCoords="()=> winningCords"
               IsDraw="()=>gameResult == GameResultEnum.Draw" />
    </div>
</div>

@code {
    Board? board;
    bool isPlayer1Move = false;
    TicTacToeGameState ticTacToeGameState;
    PlayerBase player1;
    PlayerBase player2;
    string[,] GameStateToDraw;
    GameResultEnum gameResult = GameResultEnum.GameOngoing;
    (int x, int y)[] winningCords;
    public Index()
    {
        ticTacToeGameState = new TicTacToeGameState(3, 3);
        GameStateToDraw = new string[3, 3];
        player1 = new TicTacToeComputerPlayer(
            new TicTacToeMiniMax(
                GameResultEnum.Player1Won, 
                GameResultEnum.Player2Won, 
                PlayerEnum.Player1,
                PlayerEnum.Player2,
                double.NegativeInfinity, 
                double.PositiveInfinity, 
                8
            ),
            PlayerEnum.Player1
        );
        player2 = new TicTacToePlayer(PlayerEnum.Player2);
    }
    Task OnFieldClicked(int x, int y)
    {
        var newState = isPlayer1Move ? player1.MakeMove(ticTacToeGameState, x, y) : player2.MakeMove(ticTacToeGameState, x, y);
        if (newState.Equals(ticTacToeGameState) == false)
        {
            isPlayer1Move = !isPlayer1Move;
            ticTacToeGameState = newState;

            var result = ticTacToeGameState.GetGameResult();

            gameResult = result.gameResult;
            ChangeGameStateToDraw();

            if (gameResult != GameResultEnum.GameOngoing)
            {
                winningCords = result.sequenceCoords;
            }
        }
        return Task.CompletedTask;
    }
    void ChangeGameStateToDraw()
    {
        const string player1Style = "<span style=\"color: rgb(242,130,22); font-size: 12vh;\">O</span>";
        const string player2Style = "<span style=\"color: rgb(0,134,229);font-size: 12vh;\">X</span>";
        for (var i = 0; i < GameStateToDraw.GetLength(0); i++)
        {
            for (var j = 0; j < GameStateToDraw.GetLength(1); j++)
            {
                if (ticTacToeGameState[i, j] == PlayerEnum.None) continue;
                GameStateToDraw[i, j] = ticTacToeGameState[i, j] == PlayerEnum.Player1 ? player1Style : player2Style;
            }
        }
    }
    //todo: ustawienia - pvp, pvc, ?cvc?, restart, move computer
}